@use '../abstracts' as a;

.main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .calc {

        display: flex;
        height: 43.75rem;
        width: 100%;
        max-width: 31.25rem;
        background-color: a.$secondary-color;
        border-radius: 1rem;
        position: relative;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &__hamburger {
            cursor: pointer;
            &::before{
                content: "";
                height: 50px;
                width: 50px;
                background: transparent;
                z-index: 999;
                position: absolute;
                top: -7.5%;
            }
            > span {
                position: absolute;
                display: block;
                height: 4px;
                width: 2.5rem;
                background:  a.$primary-font-color;
                border-radius: 1rem;
                left: 1%;
                top: -6%;

                &:nth-child(1) {
                    top:-4.5%;
                }
                &:nth-child(2) {
                    top:-3%;
                }
            }
        }

        &__brand {
            color: a.$primary-font-color;
            font-size: 40px;
            position: absolute;
            top: -7.5%;
            left: 15%;
        }

        &__subScreen {
            color:a.$primary-font-color;
            font-size: 3rem;
            position: absolute;
            right: 0;
        }

        &__screen {
            position: absolute;
            font-size: 6.25rem;
            color:a.$primary-font-color;
            right: 5%;
            top: 3%;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            white-space: nowrap;
        }
    
        &__keypad {
            background: a.$dark-grey;
            width: 100%;
            height: 31.25rem;
            border-radius: 1rem;
            align-self: flex-end;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto;
            grid-gap: 0.60rem;
            padding: 1.65rem;
            font-size: 3rem;
        }

        &__button {
            cursor: pointer;
            color:a.$primary-font-color;
            background: a.$primary-color;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:hover {
                background: a.$secondary-color;
                transition:ease-in-out;
                transition-duration: 200ms;
            }

            &--doubleCol{
                background: a.$primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 1 / span 2;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                color:a.$primary-font-color;
                border-radius: 1rem;
            }

            &--doubleRow{
                background: a.$primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 4 / span 1;
                grid-row: 4 / span 2;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                color:a.$primary-font-color;
                border-radius: 1rem;
            }

            &--blue {
                color: a.$secondary-font-color;
                font-size: 40px;
            }
        }
    } 
    
    #clear {
        font-size: 45px;
    }

} 